.stream-chat {
  display: flex;
  flex-direction: column;
  order: 3;
  transition: all 180ms;
  position: relative;

  iframe {
    margin: 0;
    border: 0;
    flex-grow: 1;
  }

  .toggle {
    position: fixed;
    right: 19.5em;
    top: .5em;
    z-index: 999;
  }


  .toggle.closed {
    position: fixed;
    right: .5em;
    top: .5em;

    -moz-animation: setTallBox 200ms ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: setTallBox 200ms ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: setTallBox 200ms ease-in 3s forwards;
    /* Opera */
    animation: setTallBox 200ms ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

.stream-chat.closed {
  iframe {
    display: none;
  }
}

@keyframes setTallBox {
  to {
    padding: 0;
    width: 25px;
    height: 59px;
    overflow: hidden;
  }
}

@-webkit-keyframes setTallBox {
  to {
    padding: 0;
    width: 25px;
    height: 59px;
    overflow: hidden;
  }
}
