.filter-bar {
  position: fixed;
  z-index: 9999;
  bottom: 13em;
  right: 6rem;
  z-index: 999;
  background: #235f18;
  padding: 6px;

  input[type="text"] {
    padding: 5px 15px;
    display: block;
    margin: 0;
    height: 38px;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
}
