.stream-bar {
  order: 2;
  transition: all 1000ms;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;

  .toggle {
    position: fixed;
    right: .5em;
    bottom: 13rem;
    z-index: 9999;
  }

  .toggle.closed {
    position: fixed;
    top: auto;
    right: .5em;
    bottom: .5em;

    -moz-animation: setBoxLong 200ms ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: setBoxLong 200ms ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: setBoxLong 200ms ease-in 3s forwards;
    /* Opera */
    animation: setBoxLong 200ms ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

.stream-bar.closed {
  overflow-x: hidden;
}

@keyframes setBoxLong {
  to {
    padding: 0;
    width: 59px;
    height: 25px;
    overflow: hidden;
  }
}

@-webkit-keyframes setBoxLong {
  to {
    padding: 0;
    width: 59px;
    height: 25px;
    overflow: hidden;
  }
}
