.stream-bar {
  order: -1;
  flex: 0;
  height: 100vh;

  .toggle {
    background: #235f18;
    color: white;
    padding: 25px;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    cursor: pointer;
  }
}
