body {
  padding: 0;
  margin: 0;
  height:100vh;
  width: 100vw;

  font-family: 'Cardo', serif;
}

.twitchwatcher {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-grow: 1;
}

.hidden {
  display: none;
}
